* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
}

.board {
    width: 1206px;
    height: 1206px;
    border: 3px solid black;
    margin: 45px auto;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 150px;
    height: 150px;
    border: 1px solid;
    background-image: url(/img/nero.png);
    background-color: white;
}
.b {
    background-color: black;
}
